.header {display: flex;
    justify-content: flex-end;
background-color:rgb(246, 187, 78) ;}
.navbar {background-color: rgb(246, 187, 78) !important;}
.nav-link {font-size: x-large !important;
font-weight: 100px !important;
font-family: fantasy;}
.navbar-brand  {font-size: xx-large !important;
    font-weight: 200px !important;
    font-family: fantasy;
color: rgba(107, 41, 2, 0.815) !important;}